[Unit]
Description=Tuning DTN
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/node_exporter/env
ExecStart=/usr/bin/sh -c '/usr/bin/python3 /usr/local/bin/TuneDTN.py ${INTERFACES}'
[Install]
WantedBy=multi-user.target
